<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>파놉티콘</title>
    <link rel="stylesheet" href="/style/review.css">
    <style type="text/css">
        .login-input-container{
            padding-top:120px;
            width:300px;
            align-items: center;
        }
        .login-input-wrap{
            width:80%;
            height: 45px;
            margin-top: 2px;
            padding-left: 20%;
            border-radius: 2px;
            align-items: center;
            text-align: center;
        }
    </style>
</head>
<body>
    <article style="background-color:#eff0f2">
        <div class="slider visible" style="margin:0 auto">
            <div class="page-container slider" sytle="text-align: center;">
                <div class="login-form-container shadow">
                    <div class="title">
                        <h1><br>"Panopticon"</h1>
                        <h2><%=userInfo.job%> <%=userInfo.name%>님 환영합니다</h2><br>
                    </div>
                    <div id="host_slides" class="container">
                        <div>
                            <h1>리뷰 다시보기 페이지.</h1><br>
                            <div style=" overFlow-y : scroll;">
                                <% if(userInfo.job == "professor"){%>
                                    <% lectureInfo.forEach(function(val){ %>
                                        <div class="login-input-wrap">
                                            <h3 style="background-color: white; border: 1px solid #9ED0FE;"><a href="/main/review/<%=val.id%>"><%=val.id%></a></h3>
                                        </div>
                                    <% }) %>
                                <% }%>
                            </div>
                        </div>
                    </div>
                    <div class="login-btn-wrap">
                        <button class="login-btn" id="toMain">뒤로가기</button><br>
                    </div>
                </div>
            </div>
        </div>
    </article>     

    <script>
        var toHost = document.getElementById("toHost");
        var toReview = document.getElementById("toReview");
        var toView = document.getElementById("toView");
        var toMain = document.getElementById("toMain");

        var userInfo= "<%=JSON.stringify(userInfo)%>";

        userInfo = userInfo.replace(/&#34;/gi, '\"');
        userInfo = JSON.parse(userInfo);
        
        if(toMain){
            toMain.onclick = () =>{

                var form = document.createElement('form');

                objs1 = document.createElement('input');
                objs1.setAttribute('type', 'hidden');
                objs1.setAttribute('name', 'name');
                objs1.setAttribute('value', userInfo.name);       
                form.appendChild(objs1);

                objs2 = document.createElement('input');
                objs2.setAttribute('type', 'hidden');
                objs2.setAttribute('name', 'job');
                objs2.setAttribute('value', userInfo.job);
                form.appendChild(objs2);

                form.setAttribute('method', 'post');
                form.setAttribute('action', "/main");
                document.body.appendChild(form);

                form.submit();
            }
        }

        var data = {"userInfo" : userInfo};

        console.log(userInfo);

    </script>
</body>
</html>