<!DOCTYPE html>
<html id="home" lang="en">

    <head>
        <script>
            var userInfo = "<%=JSON.stringify(userInfo)%>";
        </script>
        <style>.video_btn{ display:none; } #take_notes{position:absolute;display:none;left:60%;top:15%; background-color: #ffd700;}</style>
        <title>화상회의 테스트</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
        <!-- <link rel="stylesheet" href="https://www.webrtc-experiment.com/style.css"> -->
        <link href="/style.css" rel="stylesheet" />
        
        <!-- <script>
            document.createElement('article');
            document.createElement('footer');
        </script> -->
    </head>

    <body>
        <article>
            <div class="slider visible" style="margin:0 auto">
                <h1 style="color:white">WebRTC 화상회의 <br>
                    <%=userInfo.job%> <%=userInfo.name%>님 환영합니다</h1>
                    <p></p>
                <h2 style="color:white;">미팅 룸 목록</h2>

                <p id="job" style="display:none"><%=userInfo.job%></p>
                <p id="studentName" style="display:none"><%=userInfo.name%></p>
                <p id="userEmail" style="display:none"><%=userInfo.email%></p>
                <div class="slides">
                    <h1 id="no_class" style="color:white">진행중인 강의가 없습니다</h1>
                </div>
                <br><br>
                <button id="redirect_replay_area" onclick="redirect_replay()">다시보기</button>
            </div>
            <div class="replay_area" style="display:none; color:white; text-align: center;">
                <h2 style="color:white">강의 영상 다시보기</h2>
                <div><video id="record_video" controls></video></div>
                <div style="font-size: 2rem;">
                    녹화파일  <input type="file" id="record_file"></input><br>
                    책갈피파일 <input type="file" id="timestamp_file"></input><br>
                    <button id="replay" onclick="replay()">PLAY</button>
                <div class="stamp_btn_area"></div>
                </div>
            </div>
            <table style="display:none" id="rooms-list" class="visible" style="color:white;"></table>
            <div class=non-visual><!--invisiable in homepage-->
                <div class="modal"></div>
                <div class="pop-up">
                    <div style="margin-top:10%; color:black; font-size:2.5rem; font-weight: bold;">정말 나가시겠습니까?</div>
                    <button class="exit_btn" onclick="exit_yes()">네</button>
                    <button class="exit_btn" onclick="exit_no()">아니오</button>
                </div>
                    <div class="wrapper"><!--grid UI-->
                        <div class=content><!--remote video-->
                            <div class="left_nav">
                                <button id="exit" class="basicBtns" onclick="exitRoom()"><i class="fas fa-sign-out-alt"></i></button><!--exit peer connection func bnt-->
                                <button id="fullscreen" class="basicBtns" onclick="toggleFullScreen()"><i class="fas fa-expand"></i></i></button><!--full screen func bnt-->
                            </div>


                            <div class="navbar">
                                <button id="record" class="basicBtns"><i class="fas fa-record-vinyl" disable></i></button> <!--녹화 시작/정지-->
                                <button id="download" class="basicBtns" disabled><i class="fas fa-download fa-lg"></i></button> <!--다운로드-->
                                <button class="basicBtns" id="micBtn" onclick="micOnOff(this)"><i class="fas fa-microphone fa-lg" id="micIcon"></i></button> <!--마이크온오프-->
                                <button class="basicBtns" id="cameraBtn" onclick="cameraOnOff(this)"><i class="fas fa-video fa-lg" id="cameraIcon"></i></button> <!--카메라온오프-->
                                <button class="basicBtns"><i class="fas fa-pen" onclick="showNote()"></i></button><!--메모-->
                                <!--<button class="basicBtns" onclick="send_leave_request()"><i class="fas fa-sign-out-alt" id="leaveIcon"></i></button>-->
                            </div>

                            <div class="alert_area"></div>
                            
                            <div class=videos id="participants"></div>
                            <button class="viewer_btn" id="question_btn" onclick="question_reqeust()">질문 요청</button>
                            <button class="viewer_btn" id="leave_btn" onclick="send_leave_request()">자리비움 요청</button>
                        </div>
                        <div id=localvideo>
                            <canvas id="leave"></canvas>
                        </div>
                        <div id=hiddenChat style="display: none;">
                            <button class="chatOnBtn" onclick="chatOn()"><i class="fas fa-eye"></i></button>
                        </div>
                        <div id=chat style="overflow: hidden;">
                            <div class="massage_area" style="height:87%; overFlow-y : scroll; padding:5px;">
                                <div style="text-align: right; padding-right:5px">
                                    <button class="chatOffBtn" onclick="chatOff()"><i class="fas fa-eye-slash"></i></button>
                                </div>
                            </div>
                            <div class="text_input_area">
                                <input type="text" id="chat_message"></input><button id="send_btn" onclick="sand_chat()">전송</button>
                            </div>
                        </div>

                        <div id="take_notes">
                            <textarea cols="40" rows="20" id="note" style="background-image: url(https://i.pinimg.com/originals/d1/da/84/d1da84fb0ebaf3be5de15aa7cf536cf9.jpg); background-repeat:no-repeat;
                                                    background-attachment: fixed;
                                                    background-size:100% 100%;
                                                    line-height:230%"></textarea><br>
                            <button onclick="hideNote()">숨기기</button>
                            <button onclick="bodyShot()">화면 전체 저장</button>
                            <button onclick="partShot()">저장</button>
                        </div>

                    </div>
                </div>
            <div id="testConcentration">
                <p id="testCon_title">집중도 테스트</p>
                <p id="timer"></p>
                <p id="randomNumber"></p>
                <input type="number" id="input_randomNumber" min="1" max="9" maxlength="1" oninput="maxLengthCheck(this)"/>
                <button type="button" onclick="submit_concentration()">제출</button>
                <p id="guideWord">위 숫자를 입력해주세요.</p>
            </div>
            <div id="leaving_cancle">
                <p id="leaving_name"><%=userInfo.name%></p>
                <p id="leaving_time"></p>
                <button type="button" id="leaving_btn" onclick="leaving_cancle()">복귀하기</button>
            </div>
            <canvas id="canvas" width="300" height="300" style="display: none;"></canvas>
            <!--<button id="open_Concentration" onclick="testConcentration()">집중도테스트버튼</button>-->
            
            <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
            <script src="https://www.webrtc-experiment.com/socket.io.js"> </script>
            <script src="https://www.webrtc-experiment.com/RTCPeerConnection-v1.5.js"> </script>
            <!-- <script src="https://www.webrtc-experiment.com/broadcast/broadcast.js"> </script> -->
            <!-- <script src="https://www.webrtc-experiment.com/broadcast/broadcast-ui.js"> </script> -->
            <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>
            <script src="broadcast.js"></script>
            <script src="broadcast-ui.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
            <script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
            
        </article>      
    
        <!-- commits.js is useless for you! -->
        <script src="https://www.webrtc-experiment.com/commits.js" async> </script>
    </body>
</html>